 {% extends 'product/navigation.html' %} {% load static %} {% block list %}
<html>

<head>
    <title>MovieInfo || Best place to find movies</title>
    <link rel="icon" href="{% static 'product_img/login/logo-000.png' %}" />
    <link rel="stylesheet" href="{% static 'static/css/list_view.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            {% for movie in movie_list %}
            <div class="col-md-3">
                <div class="col1">
                    <img src="{{ movie.image.url }}" class="list_img" />
                </div>
                <div class="btn_op">
                    <a href="{{ movie.get_absolute_url }}">
                        <button type="button" class="detail_btn">
                         See Details
                        </button>
                    </a>
                </div>
            </div>
            {% empty %} {% if request.GET.q %}
            <p>No Movies found </p>
            {% else %}
            <p>No Movies yet </p>
            {% endif %} {% endfor %}
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation conatiner"></nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-link"><a href="?page={{ page_obj.previous_page_number }}">&laquo; PREV </a></li>&nbsp; &nbsp;&nbsp;&nbsp; {% endif %} {% if page_obj.has_next %}
        <li class="page-link"><a href="?page={{ page_obj.next_page_number }}"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
    </nav>
    </div>
    {% endif %}
</body>

</html>
{% endblock %}